[submodule "bundle/todo.txt-vim"]
	path = bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
[submodule "bundle/CycleColor"]
	path = bundle/CycleColor
	url = https://github.com/vim-scripts/CycleColor
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t
[submodule "bundle/md-img-paste.vim"]
	path = bundle/md-img-paste.vim
	url = https://github.com/joereddington/md-img-paste.vim
[submodule "bundle/vim-test"]
	path = bundle/vim-test
	url = https://github.com/janko/vim-test
[submodule "bundle/--force"]
	path = bundle/--force
	url = https://github.com/freitass/todo.txt-vim
[submodule "bundle/vim-markdown-folding"]
	path = bundle/vim-markdown-folding
	url = https://github.com/mikeboiko/vim-markdown-folding
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/yegappan/taglist
