[submodule "bundle/todo.txt-vim"]
	path = bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
[submodule "bundle/CycleColor"]
	path = bundle/CycleColor
	url = https://github.com/vim-scripts/CycleColor
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t
[submodule "bundle/md-img-paste.vim"]
	path = bundle/md-img-paste.vim
	url = https://github.com/joereddington/md-img-paste.vim
[submodule "bundle/vim-test"]
	path = bundle/vim-test
	url = https://github.com/janko/vim-test
[submodule "bundle/--force"]
	path = bundle/--force
	url = https://github.com/freitass/todo.txt-vim
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-peekaboo"]
	path = bundle/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule "bundle/img-paste.vim"]
	path = bundle/img-paste.vim
	url = https://github.com/img-paste-devs/img-paste.vim
