[submodule "bundle/todo.txt-vim"]
	path = bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
[submodule "bundle/CycleColor"]
	path = bundle/CycleColor
	url = https://github.com/vim-scripts/CycleColor
